:root {
    --primary-color: #a2ccdd;
    --secondary-color: #024e76;
    --tertiary-color: #202324;
    --fourth-color: #f3f3f3;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: var(--tertiary-color);
    background-color: var(--fourth-color);
    font-family: Helvetica, Arial, sans-serif;
}
/* Header Styles Start*/
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: 80%; */
    z-index: 9999;
}
header:hover{
    opacity:0.5;
}
/*Vic's Portfolio*/
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*Header Links*/
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display:inline;
    padding: 0px 8px;
}
header nav ul li a {
    border-bottom: 3px solid var(--primary-color);
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    text-shadow: none;
}  
section {
    padding: 2.5%;
  }

  /* Hero Start */
.cover {
    background-image: url('../images/San_Francisco.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: left;;
    flex-wrap: wrap;
    align-items:flex-start;
    height: 500px;
    position: relative;
  }
.subtitle {
    font-size: 20px;
    width: 220px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    position:absolute;
    bottom: 2.5%;
    right:2.5%;
    text-align: center;
}
/*End of Hero*/

/*Overall Styles*/
#overall{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width: 100%;
    display:table;
}
/*ABOUT ME*/
#about-me{
    padding-top: 5%;
    width: 100%;
}
.text-about-me { 
    padding: 0 5% 0 5%;
    vertical-align: top;
    text-align: left;
    display: table-cell;
}
.title-about-me{
    font-size: 2vw;
    color: var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
    text-align: right;
    width:250px !important;
    display: table-cell;
}
.title-about-me h2{
    padding: 0 5% 0 5%;
}
/*WORK*/
#work{
    padding-top: 5%;
    width: 100%;
}
.title-work h2{
    padding: 0 5% 0 5%;
}
.container { 
    width: 1500px;
    height: 750px;
    /* margin: 2rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:5px;
    grid-auto-flow: dense;
}
.myworkgrid {
    width: 1500px;
    height: 750px;
    padding: 0 0 0 5%;
    vertical-align: top;
    text-align: left;
    display: table-cell;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0,0,0,0.2);
    border-radius:5px;
    font-size:25px;
    background-color: var(--primary-color);
    background-size: cover;

}
.cell-1{
    grid-column: span 4;
    grid-row: span 2;
    background-image: url("../images/cell-1.png")
}
.cell-2, .cell-3, .cell-4,.cell-5{
    grid-column: span 2;
    grid-row: span 1;
}

.cell-2{
    background-image: url("../images/cell-2.png")
}
.cell-3{
    background-image: url("../images/cell-3.png")
}
.cell-4{
    background-image: url("../images/cell-4.png")
}
.cell-5{
    background-image: url("../images/cell-5.png")
}
.title-work{
    font-size: 2vw;
    color: var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
    text-align: right;
    width:250px !important;
    display: table-cell;
}
.projectname{
    font-size: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: left;
    position:relative;
    bottom: -100px;
    left: -160px;
    border: 3px solid var(--secondary-color);
}

.projectname p{
    font-size: 14px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    bottom: 0;
    left:0;
    text-align: left;
}


/*CONTACT ME*/
#contact-me{
    padding-top: 5%;
    width: 100%;
}
.title-contact-me h2{
    padding: 0 5% 0 5%;
}
.links {
    width:60%;
    padding: 0 5% 0 5%;
    display:inline-block;
    vertical-align: top;
    text-align: left;
    justify-content: space-between;
    list-style:none;
    display: table-cell;
}
.links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.links ul li {
    display:inline;
    padding: 0px 8px;
}
.links ul li a {
    border-bottom: 3px solid var(--primary-color);
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.title-contact-me{
    font-size: 2vw;
    color: var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
    text-align: right;
    width: 250px !important;
}

} */
/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
  /* @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      text-align: center;
    }
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
    header nav ul li a {
      font-size: 20px;
    }
  } */
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  /* @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  }  */
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  /* @media screen and (max-width: 575px) {
    
  }  */